body{
  background-color: rgb(37, 37, 48) !important;

}
.contenedor{
  background-color: cadetblue;
  padding: 2%;
  border-radius: 8px;
  list-style: none;
  padding: 5%;
}
.li{
  color:black;
  font-family: cursive;
  font-size: 30px;
}
.sismos_fecha{
  background-color: cadetblue;
  margin-bottom: 3%;
  list-style: none;
  padding: 5%;
  border-radius: 8px;
}
.sismo_prof{
  background-color: cadetblue;
  padding: 2%;
  border-radius: 8px;
  list-style: none;
  padding: 5%;
  margin-bottom: 3%;
}
.lbl{
  color: azure;
}
h2{
color:blue;
}